# Q1: 1. In the below elements which of them are values or an expression? eg:- values can beinteger or string and expressions will be mathematical operators.

*
&#39;hello&#39;
-87.8
-
/
+
6

# Answer:

Values:
'hello'
-87.8
6

Expressions:
*
-
/
+

# Q2. What is the difference between string and variable?

# Answer:

String:
string is a Datatype in python which is collection of words which is enclosed in single quotes or double quotes it just a simple statement or word . <br>
<br>
Variable:
variable is the empty storage container which can store value of any datatype. it is the temporary storage location which is use to store or represent the particular element.<br>
<br>
for ex:<br>
<br>
x = "abhi"<br>
Here, X is the variable which represents or store the value of string which is "abhi"

# 3.Describe three different data types.

# Answer:

Three different datatypes are :<br>

1. Int: Integer data type represent the real numbers that do not have any fractional values. for ex: 1 ,2, 5 ,888

2. Str: Str represents the string datatype which is collection of the Alphabets and words or any characters enclosed in "" or '' . for ex: "abhi", "ineuron1"

3. list: list is the datatype in python which is ordered sequence of elements which can be of any datatype.List is mutable datatype which means list elements can be changed after creation of list. it is enclosed in []

4. tuple: tuple is data type in python which acts as same as list but only difference is it is immutable which means that after creation of tuple values in tuple cannot be modified. it is enclosed in ().

# Q4. What is an expression made up of? What do all expressions do?

# Answer:

Expression is made up of variable, operators and operands.
Expression compute and assign values to the variables and help to control the flow of program

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

# Answer:
Statement just assign the value to the variable and has no part of computation.<br>
for eg: x = 2<br>
here just the statement assigns value of 2 to the x variable.<br>
Whereas the expression computes the value assigned by operator and assigns it to the variable.<br>
for ex: x*5 <br>
here the operators compute X into 5 times and yeilds some output.

# 6. After running the following code, what does the variable bacon contain?
 bacon = 22<br>
 bacon + 1

In [1]:
bacon = 22

In [3]:
bacon+1

23

bacon+1

So now the variable bacon contains value of 23 because of increment operator

# 7. What should the values of the following two terms be?

In [4]:
'spam'+'spamspam'

'spamspamspam'

In [5]:
'spam'*3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

# Answer:

Variable nams must always start with letters or underscore characters it cannot start with the numbers.
it can only contain alphabets and numerical values with underscores. therefore egg is valid variable name but 100 is invalid

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

# Answer:

Three functions to get integer , floating point and string are :
1. integer : int()
2. floating point: float()
3. string : str()

# 10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 +'burritos'

# Answer:

The given expression causes an error because in python String value elements and Integer elements cannot be concatenated therefore it returns an error.

In [7]:
'i have eaten'+99+'burritos'

TypeError: can only concatenate str (not "int") to str

 To fix this error we need to convert int elements to string using str() function.

In [13]:
'i have eaten '+ str(99) +' burritos'

'i have eaten 99 burritos'